extends layout

block content
	.jumbotron
		.container
			h1 Welcome to the Home Page!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde at maxime hic fuga iure eum excepturi deleniti veniam tempora repellendus ipsum saepe, assumenda earum vero libero fugit maiores. Velit, illum?
			a.btn.btn-primary.btn-lg(href='#') Learn more &rAarr;
	.container
		.row
			.col-md-4
				h2 About us
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At maxime nam ducimus ratione quod, ab incidunt, alias facere aliquid ea nesciunt aliquam ullam dolorum ad quis molestiae nostrum omnis dignissimos!
				a.btn.btn-default(href='/about') See More
			.col-md-4
				h2 Services
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta modi veritatis reiciendis officia tempore. Nihil quasi architecto veritatis voluptas natus molestias vitae, porro, quas aut quo odio consequatur illum, fuga?
				a.btn.btn-default(href='/Services') View Details
			.col-md-4
				h2 Get In Touch
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consectetur doloremque vel accusamus cupiditate qui ex quis reiciendis itaque. Blanditiis error sit, omnis iste unde nam sed adipisci rerum recusandae.
				a.btn.btn-default(href='Contact') Contact Us

