extends layout

block content
	.container
		h1 About Us!!
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde at maxime hic fuga iure eum excepturi deleniti veniam tempora repellendus ipsum saepe, assumenda earum vero libero fugit maiores. Velit, illum?
		ul
			li lorem
			li lorem
			li lorem
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fuga aut molestiae, ipsa illo a. Nesciunt at illo, doloribus! Repudiandae dolor iste obcaecati nulla autem libero modi, nobis pariatur ab?

				

			
