extends layout

block content
	h1 Log In
	p Please log in using the form below, or #[a(href='/users/register') register] for an account.
	form(method='post', action='/users/login', enctype='multipart/form-data')
		.form-group
			label User Name
			input.form-control(name='username', type='text', placeholder='enter username')
		.form-group
			label Password
			input.form-control(name='password', type='password', placeholder='enter password')
		input.btn.btn-large(name='submit', type='submit', value='Login')

